<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinisol</title>
    <!--boostrap link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Google font Roboto link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!--css style link-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <section class="main-content">
        <div class="container-fluid mx-0">
       <div class="row">
                <div class="col-md-6">
                    <div class="background-image-container">
                        <img src="/static/images/floral-background.png" alt="floral background" class="floral-background">
                       </div>
                </div>
                <div class="col-md-4">
                    <div class="form-container">
                        <div class="info text-center">
                            <div class="logo">
                                <img src="/static/images/1.png" alt="logo" class="logo-image">
                            </div>
                            <h3 class="greeting-bold-text">Welcome Back</h3>
                            <p class="info-tagline">Kindly enter the details below to access your account.</p>
                        </div>
                        <form class="form-content">
                            {% load widget_tweaks %}
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><img src="/static/images/profile-icon.svg"
                                        alt="password"></span>

                                <div>{{ form.staff_identification_no|add_class:"input-form"|attr:"placeholder:Enter Staff ID" }}</div>
                                <!-- <input type="text" placeholder="Staff Id" class="input-form"> -->
                            </div>
                            <div class="input-group mt-2">
                                <span class="input-group-text" id="basic-addon1"><img src="/static/images/password-icon.svg"
                                        alt="password"></span>

                                <div>{{ form.password|add_class:"input-form"|attr:"placeholder:Enter Passwword" }}</div>
                                <!-- <input type="password" placeholder="Password" class="input-form"> -->
                            </div>
                            <div class="input-group">
                                <!-- <button type="submit" class="submit-btn">LOGIN</button> -->
                                <!-- <button type="submit" class="submit-btn btn-lg">CREATE ACCOUNT</button> -->
                                <input type="submit" class="submit-btn btn-lg" name="submit" value="submit" />
                            </div>
                            <div class="password-reset d-flex">
                                <a href="#" class="password-reset-link">Forgot Password?</a>
                                <p class="password-reset-tag-text">Contact the IT Department</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>